<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_otp</name>
    <displayName><![CDATA[Arkylus OTP tables for mobile]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[One time passsword facilites for mobile]]></description>
    <author><![CDATA[Golam Mostofa]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>