{% set enableSidebar = true %}
{% set layoutTitle = 'Creating a new Customer'|trans({}, 'Admin.Orderscustomers.Feature') %}

{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      {% include '@Modules/ps_customerextend/views/PrestaShop/Admin/Sell/Customer/Blocks/form.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% include '@PrestaShop/Admin/Sell/Customer/Blocks/javascript.html.twig' %}
{% endblock %}
